Package: dmce
Version: 1.7-1
Section: unknown
Priority: optional
Architecture: amd64
Depends: git (>=2.0.0), clang-tools (>=6.0.0), python3 (>=3.0.0)
Maintainer: Patrik Aberg <patrik.aberg@ericsson.com>
Description: dmce
 Did My Code Execute, source-code level instrumentation tool
