Package: dmce
Version: 1.2-0
Section: unknown
Priority: optional
Architecture: amd64
Depends: git, clang-tools, python3
Maintainer: Patrik Aberg <patrik.aberg@ericsson.com>
Description: dmce
 Did My Code Execute, source-code level instrumentation tool
